body{
	background-image: url(../images/bg_image_blue.jpg);
	background-size: cover;
}
form.movies-form{
	width: 650px;
	background: rgba(0, 0, 0, .4);
	margin: 100px auto;
	padding: 40px 20px; 
	border-radius: 5px;
}
form.movies-form input{
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 5px;
	border: 1px solid yellow;
	background: transparent;
	color: #fff;
	border-radius: 5px;
}
form.movies-form label.must{
	color: red;
	font-size: 20px;
}
form.movies-form label.opt{
	color: green;
	font-size: 20px;
}
form.movies-form label {
	color: white;
	cursor: pointer;
	padding: 5px 0;
	display: block;
	font-size: 15px;
	font-family: tahoma;
}
form.movies-form input[type=submit]{
	width: 200px;
	margin-top: 10px;
	cursor: pointer;
}
form.movies-form button{
	color: black;
}